{% extends 'skeleton.html' %}{% block main %}<div id="gww-key">
			<div>
				<h2>ProjectGWW</h2>
				<p>Volunteer computing of WWW stats</p>
			</div>
			<div>
				<ol>
					<li>
						<h3>You can start by reading more on the project <a target="gww-article" href="{% url 'www.article' %}">here</a> or if you know everything already, continue with the step 2.</h3>
					</li>
					<li>
						<h3>Open a new tab by clicking on the button below and leave it open while it reloads the pages</h3>
						<a class="button" id="gww-main-start" href="{% url 'www.test' first_test_page_slug %}" target="gww-test-window">Start Measuring</a>
					</li>
				</ol>
			</div>
		</div>
		<div id="gww-notes">
			<ul>
				<li>
					<h3>Can I see the results?</h3>
					<p>You will able to see the results as soon as there are enough of them. Besides the aggregates, you will only be able to identify your own results.</p>
				</li>
				<li>
					<h3>What is the goal of this?</h3>
					<p>Discovery of the common coding patterns that slow down web page rendering and to shut down or efficiently reuse at least one power plant by avoiding these patterns.</p>
				</li>
			</ul>
		</div>{% endblock main %}{% block extra_script %}
		<script type="text/javascript" src="/media/js/math-uuid.js"></script>{% endblock extra_script %}