{% extends 'skeleton.html' %}{% block main %}<div id="gww-key">
		<div>
			<h2>GWW</h2>
			<p>Volunteer computing of WWW stats</p>
		</div>
		<div id="gww-main-speedtracer">
			<ol>
				<li>
					<h3>Speed Tracer plugin has not been detected! You can install it from the front page</h3>
					<a class="button" id="gww-close-test-window" href="#">Close this window</a>
				</li>
			</ol>
		</div>
	</div>
	<div id="gww-notes">
		<ul>
			<li>
				<h3>What is Speed Tracer?</h3>
				<p>Speed Tracer is an extension for Chrome web browser provided by Google that helps measure the inner operations performed by the browser. Find out more about it <a href="">here</a>.</p>
			</li>
			<li>
				<h3>Can I see the results?</h3>
				<p>You will able to see the results as soon as there are enough of them. However you will not be able to see your individual results as they are not marked in any vay to be identified as yours.</p>
			</li>
			<li>
				<h3>What is the goal of this?</h3>
				<p>Discovery of the common coding patterns that slow down web page rendering and to shut down or efficiently reuse at least one power plant by avoiding these patterns.</p>
			</li>
		</ul>
	</div>{% endblock main %}