<div id="gww-footer">
			<div>
				<p>This project is run by the person behind it. you can always reach him at <a class="gww-email" href="mailto:danijel.pancic.gww | a t | gmail.com?subject=[GreenWW]">danijel.pancic.gww | a t | gmail.com</a></p>
			</div>
			{% comment %}<div class="gww-socialmedia">
				<ul>
					<li><iframe src="http://www.facebook.com/plugins/like.php?href=www.projectgww.org" scrolling="no" frameborder="0" style="border:none;height:30px"></iframe></li>
					<li><a href="https://twitter.com/share?text=I have offered my help to @prjectgww" class="twitter-share-button" data-lang="en">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
				</ul>
			</div>{% endcomment %}
		</div>