<div id="gww-head">
			<div>
				<h1><a href="/">ProjectGWW</a></h1>
			</div>
		</div>
		<div id="gww-navigation">
			<ul>
				<li><a{% if selected == 'index' %} class="selected"{% endif %} href="{% url www.index %}">Home</a></li>
				<li><a{% if selected == 'tests' %} class="selected"{% endif %} href="{% url www.view_tests %}">Tests</a></li>
{#				<li><a{% if selected == 'results' %} class="selected"{% endif %} href="{% url www.results %}">Results</a></li>#}
				{% comment %}<li><a href="">Documentation</a></li>
				<li><a href="">Blog</a></li>{% endcomment %}
			</ul>
		</div>