<div class="gww-middle">
				<h2>Tests</h2>
				<p>Tests are grouped in bundles that are performed in a specified sequence. The last test in a bundle always points to the first one in it. That way anyone can perform a series of tests with only one click.</p>
				<p>Left of this text is a navigation to the bundles from where you can inspect all the tests. Each test can be opened in this tab, new tab, css can be inspected and the whole source code viewed.</p>
				<p>If you have an interesting pattern you'd like to see tested, don't hesitate to tell me about it. I'll make the best effort to bundle it in any of the future tests. Same applies for changes - if you see an error in my assumption, I'll re-bundle the whole series and serve from there on.</p>
			</div>